{
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": ["^(next/(.*)$)|^(next$)", "^@/components/(.*)$", "^./api[./]|^../api[./]", "^@/hooks/(.*)$", "^@/store(.*)$", "^@/types(.*)$", "^@/utils(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}